footer {
    padding: 2em 0;
    background: lightskyblue;
    text-align: center;
    h1, p {
        color: white;
    }
}

.footer__grid {
    display: grid;
    grid-template-columns: 1fr;
    i {
        font-size: 2em;
        margin-top: 1em;
        padding: 0 .2em;
    }
}



@media (min-width: $desktop-breakpoint) {
    footer {
        text-align: left;
    }


    .footer__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        i {
            margin-top: 0;
        }
    }

    .footer__left {
        align-self: center;
    }

    .footer__right {
        align-self: center;
        justify-self: end;
        text-align: right;
    }
}