.navbar {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    padding: 1em 0;
}

.hamburger-icon {
    background: white;
    border: 1px solid lightgrey;
    border-radius: 100%;
    cursor: pointer;
    padding: .7em .9em;
    position: fixed;
    right: 3%;
    z-index: 10;
}

.logo {
    margin-top: 28px;
}

.menu {
    -webkit-box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
    -moz-box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
    box-shadow: -12px 2px 51px -26px rgba(0,0,0,0.72);
    background: white;
    display: fixed;
    font-size: 1.5em;
    top: 0;
    right: -100%;
    height: 100%;
    padding: 3em 0 4em 0;
    position: fixed;
    width: 80%;
    z-index: 5;
    hr {
        background-color: lightgrey !important;
        color: lightgrey !important;
        border: solid 1px lightgrey !important;
        width: 50%;
        margin-left: 2em;
    }
    a {
        display: block;
        font-size: 1em;
        margin: 1em;
        margin-left: 2em;
    }
    div {
        padding: 1em 0 1em 2em;
        // font-size: .6em;
        span {
            display: block;
        }
    }
}

@media (min-width: $desktop-breakpoint) {
    .menu {
        width: 30%;
    }
}