.grey-wrapper {
    background: $light-grey;
    max-width: 100vw;
}

.services {
    padding-bottom: 4em;
}

.services__header {
    padding: 4em 0;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
}

.panel {
    height:100%;
    margin-bottom: 1em;
    padding: 2em;
    width: 65%;
    h2 {
        color: #212121;
        font-weight: 400;
    }
    p {
        color: #f7f7f7;
    }
}

.panel--design {
    background: $purple;
}

.panel--development {
    background: lightskyblue;
    margin-left: auto;
}

.panel--marketing {
    background: $red;
}


@media (min-width: $desktop-breakpoint) {
    .services--container {
        width: 80%;
        margin: 0 auto;
    }
    .services {
        h1 {
            margin-left: 0;
        }
    }
}