// variables
$purple: #947cb0;
$blue: #c6e7e5;
$red: #ee5a56;
$orange: rgb(253, 183, 62);
$pink: rgb(255, 152, 171);
$grey: #f7f7f7;
$desktop-breakpoint: 62rem;



// general styles
html, body {
    margin: 0;
}

* {
    color: #212121;
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}


// hover mixins
@media (min-width: $desktop-breakpoint) {
    .hover--blue {
        &:hover {
            color: lightskyblue;
        }
    }
    .hover--purple {
        &:hover {
            color: $purple;
        }
    }
    .hover--red {
        &:hover {
            color: $red;
        }
    }
    .hover--orange {
        &:hover {
            color: $orange;
        }
    }
    .hover--pink {
        &:hover {
            color: $pink;
        }
    }
    img {
        cursor: pointer;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .underline--magical {
        background-image: linear-gradient(120deg, lightskyblue 0%, lightskyblue 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 88%;
        transition: background-size 0.25s ease-in;
        &:hover {
          background-size: 100% 88%;
        }
    }

}

// common classes
.logo {
    font-family: 'Paytone One', sans-serif;
}



.btn-wrapper {
    text-align: right;
    margin: 2em 0;
}


.container {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: $desktop-breakpoint) {
    .container {
        width: 80%;
    }
}

.red {
    color: $red;
}

.purple {
    color: $purple;
}

.blue {
    color: lightskyblue;
}