// variables
$purple: #947cb0;
$blue: #c6e7e5;
$red: #ee5a56;
$desktop-breakpoint: 62rem;



// general styles
html, body {
    margin: 0;
}

* {
    color: #212121;
    font-family: 'Playfair Display', serif;
    // font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

// common classes
.container {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: $desktop-breakpoint) {
    .container {
        width: 80%;
    }
}